CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_MANAGED_DOMAIN=qeploy.com
CLOUDFLARE_MANAGED_TARGET=
CLOUDFLARE_API_BASE_URL=https://api.cloudflare.com/client/v4
CLOUDFLARE_TTL=1
CLOUDFLARE_PROXIED=true
